<br><br><br><br>

<div align="center" class="container">
    <div class="row">
      <div class="col-lg-3"></div>
        <div class="col-lg-6">

        <form class="form-control-lg" id="test-form">

          <div>
            <label>Field 1</label>
            <input class="form-control" type="text" name="form_field_1" placeholder="Field 1"/>
          </div>

          <div>
            <label>Field 2</label>
            <input class="form-control" type="text" name="form_field_2" placeholder="Field 2"/>
          </div>

          <div>
            <label>Field 3</label>
            <input class="form-control" type="text" name="form_field_3" placeholder="Field 3"/>
          </div>

          <div>
            <label>Field 4</label>
            <input class="form-control" type="text" name="form_field_4" placeholder="Field 4"/>
          </div>

          <div> <br>
            <button type="submit"id="submit-form" class="btn btn-primary mb-2">Submit</button>
        
          </div>

        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>